{
  "name" : "hbase",
  "config" : {
    "type" : "hbase",
    "config" : {
      "hbase.zookeeper.quorum" : "ip-172-31-30-32",
      "hbase.zookeeper.property.clientPort" : "2181"
    },
    "size.calculator.enabled" : false,
    "enabled" : true
  }
}
